This code extracts basic university details like rank, university name, score, country, city, region etc..

In [1]:
import requests
import pandas as pd

In [2]:
url = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/en/3816281.txt?rsn1ph'
res = requests.request("GET", url) .json()
rows = res ['data' ]

In [3]:
for i in range(0, 3):
    univ_name = rows[i]['title']
    print (univ_name)

<div class="td-wrap"><a href="/universities/massachusetts-institute-technology-mit" class="uni-link">Massachusetts Institute of Technology (MIT) </a></div>
<div class="td-wrap"><a href="/universities/university-cambridge" class="uni-link">University of Cambridge</a></div>
<div class="td-wrap"><a href="/universities/stanford-university" class="uni-link">Stanford University</a></div>

In [4]:
no = 0
universities = []

for i in range(0, len(rows)):
    no += 1  # Incrementing the value of no by 1
    univ_name = rows[i]['title'].split('class="uni-link">')[1].split("</a>")[0].strip()
    country = rows[i]['country']
    city = rows[i]['city']
    region = rows[i]['region']
    
    universities.append(
        (no, country, city, univ_name, region)
    )

# Define headers separately
headers = ['No', 'Country', 'City', 'University Name', 'Region']

# Create DataFrame with headers
df = pd.DataFrame(universities, columns=headers)

In [5]:
print(df)

        No         Country       City  \
0        1   United States  Cambridge
1        2  United Kingdom  Cambridge
2        3   United States   Stanford
3        4  United Kingdom     Oxford
4        5   United States  Cambridge
...    ...             ...        ...
1417  1418        Colombia  Cartagena
1418  1419           Chile      Arica
1419  1420         Romania    Craiova
1420  1421         Romania     Oradea
1421  1422         Morocco      Rabat

                                  University Name         Region
0     Massachusetts Institute of Technology (MIT)  North America
1                         University of Cambridge         Europe
2                             Stanford University  North America
3                            University of Oxford         Europe
4                              Harvard University  North America
...                                           ...            ...
1417           Universidad Tecnológica de Bolívar  Latin America
1418                      Universidad de Tarapaca  Latin America
1419                        University of Craiova         Europe
1420                         University of Oradea         Europe
1421               Université Mohammed V de Rabat         Africa

[1422 rows x 5 columns]

In [6]:
df.to_csv('details_universities.csv', index=False)
print('Data Saved on Local disk')

Data Saved on Local disk